$ka-cell-line-height: 15px !default;
$ka-cell-padding: 8px 10px !default;
$ka-filter-row-cell-padding: 0 20px 15px 20px !default;
$ka-font-size: 14px !default;
$ka-group-cell-padding: 8px 10px !default;
$ka-group-row-border-size: 1px !default;
$ka-icon-font-size: 10px !default;
$ka-paging-pages-margin: 0 !default;
$ka-paging-pages-padding: 0 10px !default;
$ka-row-border-size: 2px !default;
$ka-summary-cell-padding: 12px 20px !default;
$ka-thead-cell-padding: 15px 20px !default;
$ka-validation-message-font-size: 12px !default;
$ka-validation-message-padding: 0 10px !default;
$ka-header-cell-height: 47px !default;

.ka {
  border-radius: 0.5rem
}
