@tailwind base;
@tailwind components;
@tailwind utilities;

.super-gif > canvas {
  max-width: 100%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 11px;
  background-color: #303030;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #303030 !important; /* should match background, can't be transparent */
  background-color: #575757;
}

.dark .ka-table {
  @import './custom-dark-ka-table.scss';
  @import 'ka-table/style.scss';
}

.light .ka-table {
  @import './custom-light-ka-table.scss';
  @import 'ka-table/style.scss';
}

.skeleton {
  animation: pulse 1.5s ease-in-out infinite;
}
